extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp")
    app-for-users
      div(id="contentApp", hidden, ng-controller="AreasController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearArea()") Crear nueva
        h3 Áreas
        // MODAL OPCION AREA
        div(id="modalOpcionesArea" class="modal")
          div(class="modal-content")
            h4 {{opcAccion}} área
            table
              tr
                td
                  select(class="browser-default", ng-model="formArea.are_id_tipo_area")
                    option(value="" disabled selected) Selecciona el tipo de área
                    option(ng-repeat="tipo in tiposAreas", value="{{tipo.id_tipo_area}}") {{tipo.tipo_nombre}}
              tr
                td
                  div(class="input-field col s6")
                    input(id="area_name", type="text", class="validate", ng-model="formArea.are_nombre")
                    label(for="area_name") Nombre del área
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="area_name", class="materialize-textarea", class="validate", ng-model="formArea.are_descripcion")
                    label(for="area_name") Descripción del área
          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class=" waves-effect waves-green btn-flat", ng-click="opcionArea()", id="btnOpcionAreas") {{opcAccion}}

        // SHOW AREAS
        div(class="row")
          div(class="card small col s12 m6 l4", ng-repeat="area in areas")
            div(class="card-image waves-effect waves-block waves-light")
              img(class="activator" src="/images/system/escritorio-area.png")
            div(class="card-content")
              span(class="card-title activator grey-text text-darken-4") {{area.are_nombre}}
                i(class="material-icons right") more_vert
              p {{areas.are_descripcion}}
            div(class="card-reveal")
              span(class="card-title grey-text text-darken-4") {{area.are_nombre}}
                i(class="material-icons right") close

              p(class="red-text") DANGER ZONE
                br
                button(class="btn white-text waves-effect blue", ng-click="setDatosEditarArea(area.id_area)") EDITAR
                button(class="btn white-text red waves-effect", ng-click="eliminarArea(area.id_area)") ELIMINAR



  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/javascripts/angular/controllers/AreasController.js")
