extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp")
    app-for-users
      div(id="contentApp", hidden, ng-controller="CarrerasController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearCarrera()") Crear nueva
        h3 Carreras
        // MODAL OPCION CARRERAS
        div(id="modalOpcionesCarrera" class="modal")
          div(class="modal-content")
            h4 {{opcAccion}} carrera
            div(class="input-field col s6")
              input(id="carrera_nombre", type="text", class="validate", ng-model="formCarrera.car_nombre")
              label(for="carrera_nombre") Nombre de la carrera

          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class=" waves-effect waves-green btn-flat", ng-click="opcionCarrera()", id="btnOpcionCarrera") {{opcAccion}}

        table(class="bordered")
          tr
            th  Nombre
            th
          tr(ng-repeat="carrera in carreras")
            td {{carrera.car_nombre}}
            td
              a(href="#!", class="btn white-text waves-effect red right", ng-click="deleteCarrera(carrera)") Eliminar
              a(href="#!", class="btn white-text waves-effect blue right", ng-click="setDatosEditarCarrera(carrera)") Editar

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/javascripts/angular/controllers/CarrerasController.js")
