extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="AreasModule")
    app-for-users
      div(id="contentApp", hidden, ng-controller="AreasController")
        h3 Áreas
        div(class="row")
          div(class="card small col s12 m6 l4", ng-repeat="area in areas")
            div(class="card-image waves-effect waves-block waves-light", ng-click="setModulosAreaSeleccionada(area.are_id_tipo_area)")
              img(class="activator" src="/images/system/escritorio-area.png")
            div(class="card-content")
              span(class="card-title activator grey-text text-darken-4") {{area.are_nombre}}
                i(class="material-icons right", ng-click="setModulosAreaSeleccionada(area.are_id_tipo_area)") more_vert
              p {{areas.are_descripcion}}
            div(class="card-reveal")
              span(class="card-title grey-text text-darken-4") {{area.are_nombre}}
                i(class="material-icons right") close
              p Tipo area: {{modulosControladosPorAreaSeleccionada[0].tipo_nombre}}
              label Control sobre modulos:
              ol
                li(ng-repeat="modulo in modulosControladosPorAreaSeleccionada") {{modulo.mod_nombre}}



  script(src="/javascripts/angular/angular.min.js")
  script(src="/javascripts/angular/angular_modules/AppModule.js")
  script(src="/javascripts/angular/angular_modules/AreasModule.js")
