extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="AreasModule")
    app-for-users
      div(id="contentApp", hidden, ng-controller="TiposAreasController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearTipoArea()") Crear nueva
        h3 Tipos de áreas

        // MODAL OPCION TIPO AREA
        div(id="modalOpcionesTipoArea" class="modal")
          div(class="modal-content")
            h4 Crear tipo de área
            table
              tr
                td
                  div(class="input-field col s6")
                    input(id="area_name", type="text", class="validate", ng-model="formTipoArea.tipo_nombre")
                    label(for="area_name") Nombre del tipo de área
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="area_name", class="materialize-textarea", class="validate", ng-model="formTipoArea.tipo_descripcion")
                    label(for="area_name") Descripción del tipo de área
              tr
                td
                  p Foto del área
                      input(type="file", id="tipo_foto", file-model="formTipoArea.tipo_foto")
          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class=" waves-effect waves-green btn-flat", ng-click="opcionTipoArea()", id="btnOpcionAreas") Crear


        div(class="row")
            div(class="card card small col s12 m6 l4", ng-repeat="tipo in tiposAreas")
              div(class="card-image")
                img(src="{{tipo.tipo_imagen}}")
                p(class="card-title white-text", style="background-color:rgba(0, 0, 0, .7);margin:0;width:100%;") {{tipo.tipo_nombre}}
              div(class="card-content")
                p {{tipo.tipo_descripcion}}
              div(class="card-action")
                button(class="btn-flat green white-text waves-effect") EDITAR
                button(class="btn-flat red white-text right waves-effect") ELIMINAR


        //input(type="text", placeholder="Nombre de la nueva área", ng-model="nombreTipoArea")
        //textarea(class="materialize-textarea", placeholder="Descripción de la nueva área", ng-model="descripcionTipoArea")
        //p(class="divider")
        //h4 Modulos permitidos
        //table(class="bordered")
          //tr
            //th Permiso
            //th Descripción
          //tr
            //td
              //input(type="checkbox", id="checkUsuarios", ng-model="checkUsuarios")
              //label(for="checkUsuarios") Control de usuarios
              //p(ng-show="checkUsuarios", class="divider")
              //p(ng-show="checkUsuarios")
                //label  Selecciona los tipos de usuarios que el área puede controlar
              //p(ng-repeat="tipoUsuario in tiposDeUsuarios", ng-show="checkUsuarios")
                //input(type="checkbox", id="checkUsu{{tipoUsuario.tipo_id}}")
                //label(for="checkUsu{{tipoUsuario.tipo_id}}") {{tipoUsuario.tipo_nombre}}
            //td  Permitir que los usuarios designados en la área puedan tener una gestión de sus usuarios
          //tr
            //td
              //input(type="checkbox", id="checkInventarios", ng-model="checkInventarios")
              //label(for="checkInventarios") Control de Inventarios
            //td  Permitir control inventarios
          //tr
            //td
              //input(type="checkbox", id="checkControlAcceso", ng-model="checkControlAcceso")
              //label(for="checkControlAcceso") Control de acceso
                //p(ng-show="checkControlAcceso")
                  //input(type="radio", name="tipoControlAcceso", id="acceso_simple")
                  //label(for="acceso_simple") Control de entrada
                  //br
                  //input(type="radio", name="tipoControlAcceso", id="acceso_equipo_computo")
                  //label(for="acceso_equipo_computo") Control de entrada y uso de equipo de computo
            //td Permitir el control de entradas y salidas de usuario en el área
          //tr
            //td
              //input(type="checkbox", id="checkMesaAyuda", ng-model="checkMesaAyuda")
              //label(for="checkMesaAyuda") Mesa de ayuda
                //p(ng-show="checkMesaAyuda")
                  //input(type="radio", name="tipoMesa", id="mesa_ayuda_administrador")
                  //label(for="mesa_ayuda_administrador") Administrador
                  //br
                  //input(type="radio", name="tipoMesa", id="mesa_ayuda_solicitante")
                  //label(for="mesa_ayuda_solicitante") Solicitante
            //td Los usuarios asignados a esta área podrán administrar o solicitar los servicios en la mesa de ayuda
        //button(class="waves-effect waves-light btn right", ng-click="crearTipoDeArea()", id="btnCreasTipoArea") Crear

  script(src="/javascripts/angular/angular.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/angular_modules/AppModule.js")
  script(src="/javascripts/angular/angular_modules/AreasModule.js")
