extends layout

block content
  div(class="progress", id="loadPage", style="margin:0;")
      div(class="indeterminate")
  div(ng-app="UsuariosModule")
    app-for-users
      div(id="contentApp", hidden, ng-controller="UsuariosController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearUsuario()") Crear nuevo
        h3 Usuarios

        div(class="row", id="contentTabs", hidden)
          div(class="col s12")
            ul(class="tabs card", ng-init="initTabs()")
              li(class="tab col s2", ng-repeat="tipo in tiposUsuario")
                a(href="!#", ng-click="selectionTipoUsuario(tipo)") {{tipo.tipo_nombre}}
        div(class="row card")
          div(class="col s4", style="border:solid 1px rgba(0, 0, 0, .1);")
            //div(class="", style="height:500px;overflow-y:auto;")
            div(class="")
              h5(class="center-align") Usuarios
              p(class="divider")
              input(type="text", placeholder="Buscar...")
              div(style="position:relative;")
                div(id="caja1", style="postion:absolute;")
                  h5(style="background-color:rgba(0, 0, 0, .7);padding:5px;" class="white-text") Selecciona un tipo de usuario
                div(class="preloader-wrapper big active", style="margin-left:35%;position:absolute")
                  div(class="spinner-layer spinner-blue-only", id="caja2", hidden)
                    div(class="circle-clipper left")
                      div(class="circle")
              //{{usuarios}}
              div(style="height:300px;overflow-y:auto;")
                a(ng-repeat="usuario in usuarios", href="#!", ng-click="getDetalleUsuario(usuario)")
                  div(class="card", style="padding:5px;")
                    img(src="{{usuario.usu_foto}}", width="50px",style="border-radius:50px;")
                    label {{usuario.usu_nombre}} {{usuario.usu_primer_apellido}} {{usuario.usu_segundo_apellido}}
              ul(class="pagination")
                li(class="waves-effect {{pagination.selected?'active':''}}", ng-repeat="pagination in arrayPagination", ng-click="pagination.funcion()")
                  a(href="#!") {{pagination.number}}
              {{array}}

          div(class="col s8", style="border:solid 1px rgba(0, 0, 0, .1);")
            div(class="", style="height:500px;overflow-y:auto;")
              h5(class="center-align") Detalle
              p(class="divider")
              div(ng-show="usuarioDetalle.id_usuario == undefined")
                h4 Aún no se ha seleccionado un usuario
              div(ng-show="usuarioDetalle.id_usuario != undefined")
                img(src="{{usuarioDetalle.usu_foto}}", width="100px;")
                label
                  h5 {{usuarioDetalle.usu_nombre}} {{usuarioDetalle.usu_primer_apellido}} {{usuarioDetalle.usu_segundo_apellido}}
                p(ng-show="usuarioDetalle.usu_id_area") Área
                  label {{usuarioDetalle.are_nombre}}
                p(ng-show="usuarioDetalle.usu_id_carrera") Carrera
                  label {{usuarioDetalle.car_nombre}}


        // MODAL OPCION USUARIO
        div(id="modalOpcionesUsuario" class="modal")
          div(class="modal-content")
            h4 Crear usuario
            table
              tr
                td
                  div(class="input-field col s12")
                    select(class="browser-default", ng-model="formUsuario.usu_id_tipo_usuario", ng-change="cambioTipoUsuario()")
                      option(value="" disabled selected) Selecciona el tipo de usuario
                      option(ng-repeat="tipo in tiposUsuario", value="{{tipo.id_tipo_usuario}}") {{tipo.tipo_nombre}}
                td
                  div(class="input-field col s6")
                    input(id="usuario_id", type="text", class="validate", ng-model="formUsuario.id_usuario")
                    label(for="usuario_id") Identificador (No. Personal ó Matricula)
              tr(ng-show="showAreas")
                td(colspan="2")
                  div(class="input-field col s12")
                    select(class="browser-default", ng-model="formUsuarioExtra.usu_id_area")
                      option(value="" disabled selected) Selecciona el área
                      option(ng-repeat="tipo in tiposAreas", value="{{tipo.id_tipo_area}}") {{tipo.tipo_nombre}}
              tr(ng-show="showCarreras")
                td(colspan="2")
                  div(class="input-field col s12")
                    select(class="browser-default", ng-model="formUsuarioExtra.usu_id_carrera")
                      option(value="" disabled selected) Selecciona la carrera
                      option(ng-repeat="carrera in carreras", value="{{carrera.id_carrera}}") {{carrera.car_nombre}}
              tr
                td
                  div(class="input-field col s6")
                    input(id="usuario_name", type="text", class="validate", ng-model="formUsuario.usu_nombre")
                    label(for="usuario_name") Nombre
                td
                  div(class="input-field col s6")
                    input(id="usuario_ape1", type="text", class="validate", ng-model="formUsuario.usu_primer_apellido")
                    label(for="usuario_ape1") Apellido Paterno
              tr
                td
                  div(class="input-field col s6")
                    input(id="usuario_ape2", type="text", class="validate", ng-model="formUsuario.usu_segundo_apellido")
                    label(for="usuario_ape2") Apellido Materno
                td
                  div(class="input-field col s6")
                    input(id="usuario_email", type="email", class="validate", ng-model="formUsuario.usu_email")
                    label(for="usuario_email") Correo electronico
              tr
                td
                  div(class="input-field col s12")
                    select(ng-model="formUsuario.usu_sexo")
                      option(value="", disabled, selected) Selecciona el sexo del usuario
                      option(value="M") Masculino
                      option(value="F") Femenino
                    label Selecciona el sexo del usuario
                td
                  label(style="font-size:18px") Foto
                  input(type="file", accept="image/*", file-model="formUsuario.usu_foto")

            div(class="modal-footer")
              a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
              button(class=" waves-effect waves-green btn-flat", ng-click="opcionUsuario()", id="btnOpcionTipoUsuario") Crear


  script(src="/javascripts/angular/angular.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/angular_modules/AppModule.js")
  script(src="/javascripts/angular/angular_modules/UsuariosModule.js")
