extends layout

block content
  div(class="progress", id="loadPage", style="margin:0;")
      div(class="indeterminate")
  div(ng-app="UsuariosModule")
    app-for-users
      div(id="contentApp", hidden, ng-controller="UsuariosController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearUsuario()") Crear nuevo
        h3 Usuarios

        // MODAL OPCION USUARIO
        div(id="modalOpcionesUsuario" class="modal")
          div(class="modal-content")
            h4 Crear usuario
            table
              tr
                td
                  div(class="input-field col s12")
                    select(class="browser-default", ng-model="formUsuario.usu_id_tipo_usuario", ng-change="cambioTipoUsuario()")
                      option(value="" disabled selected) Selecciona el tipo de usuario
                      option(ng-repeat="tipo in tiposUsuario", value="{{tipo.id_tipo_usuario}}") {{tipo.tipo_nombre}}
                td
                  div(class="input-field col s6")
                    input(id="usuario_id", type="text", class="validate", ng-model="formUsuario.id_usuario")
                    label(for="usuario_id") Identificador (No. Personal ó Matricula)
              tr(ng-show="showAreas")
                td(colspan="2")
                  div(class="input-field col s12")
                    select(class="browser-default", ng-model="formUsuario.usu_id_area")
                      option(value="" disabled selected) Selecciona el área
                      option(ng-repeat="tipo in tiposAreas", value="{{tipo.id_tipo_area}}") {{tipo.tipo_nombre}}
              tr(ng-show="showCarreras")
                td(colspan="2")
                  div(class="input-field col s12")
                    select(class="browser-default", ng-model="formUsuario.usu_id_carrera")
                      option(value="" disabled selected) Selecciona la carrera
                      option(ng-repeat="carrera in carreras", value="{{carrera.id_carrera}}") {{carrera.car_nombre}}
              tr
                td
                  div(class="input-field col s6")
                    input(id="usuario_name", type="text", class="validate", ng-model="formUsuario.usu_nombre")
                    label(for="usuario_name") Nombre
                td
                  div(class="input-field col s6")
                    input(id="usuario_ape1", type="text", class="validate", ng-model="formUsuario.usu_primer_apellido")
                    label(for="usuario_ape1") Apellido Paterno
              tr
                td
                  div(class="input-field col s6")
                    input(id="usuario_ape2", type="text", class="validate", ng-model="formUsuario.usu_segundo_apellido")
                    label(for="usuario_ape2") Apellido Materno
                td
                  div(class="input-field col s6")
                    input(id="usuario_email", type="email", class="validate", ng-model="formUsuario.usu_email")
                    label(for="usuario_email") Correo electronico
              tr
                td
                  div(class="input-field col s12")
                    select(ng-model="formArea.usu_sexo")
                      option(value="" disabled ) Selecciona el sexo del usuario
                      option(value="M") Masculino
                      option(value="F") Femenino
                    label Selecciona el sexo del usuario
                td
                  label(style="font-size:18px") Foto
                  input(type="file", accept="image/*", file-model="formUsuario.usu_foto")

            div(class="modal-footer")
              a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
              button(class=" waves-effect waves-green btn-flat", ng-click="opcionUsuario()", id="btnOpcionTipoUsuario") Crear


  script(src="/javascripts/angular/angular.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/angular_modules/AppModule.js")
  script(src="/javascripts/angular/angular_modules/UsuariosModule.js")
