extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp")
    app-for-users(ng-show="permisos.inventarios.ver==1")
      div(id="contentApp", hidden, ng-controller="InventariosController", ng-init="getAreas()")
        h3(ng-show="!area.are_nombre") Elije un área para ver inventario
        h3(ng-show="area.are_nombre") Inventarios de {{area.are_nombre}}
        select(class="browser-default", ng-model="idInventarioX", ng-change="setArea(idInventarioX)")
          option(value="" disabled selected) Selecciona el área
          option(ng-repeat="area in areas", value="{{area.id_area}}") {{area.are_nombre}}
        div(ng-show="area.id_area")
          div(class="row", ng-init="getTiposInventario()")
              div(class="col s12")
                ul(class="tabs card")
                  li(class="tab col s2", ng-repeat="tipo in tiposInventarios")
                    a(href="!#", ng-click="getInventarioTipoArea(tipo.id_tipo_inventario)", class="waves-effect") {{tipo.tin_nombre}}
          div(class="row", style="margin:0;padding:0")
            div(class="input-field col s5", ng-show="inventarios.length > 0", style="margin:0;padding:0")
              i(class="material-icons prefix") search
              input(type="text", ng-model="searchInventario")
              label(for="icon_prefix") Buscar...
            button(class="btn waves-effect white-text right", ng-click="setDatosCrearInventario()",ng-show="permisos.inventarios.crear==1") crear
          h4(ng-show="inventarios.length==0", style="text-align:center;") No hay inventario registrado
          div(class="row")
            div(class="card small col s12 m6 l4", ng-repeat="inventario in inventarios | filter:searchInventario")
              div(class="card-image waves-effect waves-block waves-light")
                div(style="position:relative;width=100%;height:5px;background-color:{{getColorStatus(inventario.inv_status)}};border-radius:0px 0px 3px 3px;")
                p(ng-show="inventario.id_resguardo != null", style="padding:10px;border-radius:3px;position:absolute;top:-15px;right:0;",class="green white-text") R
                img(class="activator" src="{{getTipoInventario(inventario.inv_tipo).tin_foto}}")
              div(class="card-content")
                span(class="card-title activator grey-text text-darken-4") No. {{inventario.num_inventario}}
                  i(class="material-icons right") more_vert
                p {{inventario.inv_descripcion}}
              div(class="card-reveal")
                span(class="card-title grey-text text-darken-4") No. {{inventario.num_inventario}}
                  i(class="material-icons right") close
                p Información
                table(class="bordered")
                  tr
                    th Característica
                    th Descripción
                  tr
                    td No. Inventario
                    td {{inventario.num_inventario}}
                  tr
                    td No. Serie
                    td {{inventario.inv_no_serie}}
                  tr(ng-show="getTipoInventario(inventario.inv_tipo).tin_es_computadora")
                    td RAM
                    td {{inventario.inv_ram}}
                  tr(ng-show="getTipoInventario(inventario.inv_tipo).tin_es_computadora")
                    td Procesador
                    td {{inventario.inv_procesador}}
                  tr(ng-show="getTipoInventario(inventario.inv_tipo).tin_es_computadora")
                    td Vel. Procesador
                    td {{inventario.inv_vel_procesador}}
                  tr(ng-show="getTipoInventario(inventario.inv_tipo).tin_es_computadora")
                    td GB
                    td {{inventario.inv_capacidad}}
                  tr
                    td Marca
                    td {{inventario.inv_marca}}
                p(class="green-text") RESGUARDO DE INVENTARIO
                  button(class="btn white-text waves-effect", ng-click="opcResguardo(inventario.num_inventario,inventario.id_resguardo)") {{inventario.id_resguardo != null?"FINALIZAR RESGUARDO":"INICIAR RESGUARDO"}}
                p(class="red-text",ng-show="permisos.inventarios.editar==1 || permisos.inventarios.eliminar==1") ZONA DE PELIGRO
                  br
                  button(class="btn white-text waves-effect blue", ng-click="setDatosEditarInventario(inventario)",ng-show="permisos.inventarios.editar==1") EDITAR
                  button(class="btn white-text red waves-effect", ng-click="eliminarInventario(inventario.num_inventario)",ng-show="permisos.inventarios.eliminar==1") ELIMINAR
                  button(class="btn waves-effect yellow", ng-show="permisos.inventarios.editar==1", ng-click="darBajaInventario(inventario.num_inventario)") Dar de baja
        // MODAL INVENTARIO
        div(id="modalOpcionesInventarios" class="modal", style="z-index:9999;")
          div(class="modal-content", style="z-index:9999;")
            h4 {{opcAccion}} inventario
            table
              tr
                td(colspan="4")
                  select(class="browser-default", ng-model="formInventario.inv_tipo")
                    option(value="" disabled selected) Selecciona el tipo de inventario
                    option(ng-repeat="tipo in tiposInventarios", value="{{tipo.id_tipo_inventario}}") {{tipo.tin_nombre}}
              tr(ng-show="formInventario.inv_tipo")
                td(colspan="2")
                  div(class="input-field col s6")
                    input(id="num_inventario", type="text", class="validate", ng-model="formInventario.num_inventario")
                    label(for="num_inventario") No. Inventario
                td(colspan="2")
                  div(class="input-field col s6")
                    input(id="inv_no_serie", type="text", class="validate", ng-model="formInventario.inv_no_serie")
                    label(for="inv_no_serie") No. serie
              tr(ng-show="getTipoInventario(formInventario.inv_tipo).tin_es_computadora")
                td(colspan="2")
                  div(class="input-field col s6")
                    input(id="inv_num_maq", type="number", step="any", class="validate", ng-model="formInventario.inv_num_maq")
                    label(for="inv_num_maq") No. computadora
                td(colspan="2")
                  div(class="input-field col s6")
                    input(id="inv_ram", type="number", step="any", class="validate", ng-model="formInventario.inv_ram")
                    label(for="inv_ram") RAM
              tr(ng-show="getTipoInventario(formInventario.inv_tipo).tin_es_computadora")
                td(colspan="2")
                  div(class="input-field col s6")
                    input(id="inv_procesador", type="text", class="validate", ng-model="formInventario.inv_procesador")
                    label(for="inv_procesador") Procesador
                td(colspan="1")
                  div(class="input-field col s6")
                    input(id="inv_vel_procesador", type="number", step="any", class="validate", ng-model="formInventario.inv_vel_procesador")
                    label(for="inv_vel_procesador") Velocidad procesador
                td(colspan="1")
                  div(class="input-field col s6")
                    input(id="inv_capacidad", type="number", step="any", class="validate", ng-model="formInventario.inv_capacidad")
                    label(for="inv_capacidad") Capacidad GB
              tr(ng-show="formInventario.inv_tipo")
                td(colspan="1")
                  div(class="input-field col s6")
                    input(id="inv_marca", type="text", class="validate", ng-model="formInventario.inv_marca")
                    label(for="inv_marca") Marca
                td(colspan="2")
                  input(type="checkbox", id="checkUsarCA", ng-model="formInventario.inv_usar_control_acceso")
                  label(for="checkUsarCA") Usuarios diferente a SS pueden utilizar
                td(colspan="1")
                  select(class="browser-default", ng-model="formInventario.inv_status")
                    option(value="" disabled selected) Selecciona el tipo de estado
                    option(value="1") Bueno
                    option(value="2") Mantenimiento
                    option(value="3") Mal estado
              tr(ng-show="formInventario.inv_tipo")
                td(colspan="4")
                  div(class="input-field col s6")
                    textarea(id="inv_descripcion", type="text", class="validate materialize-textarea", ng-model="formInventario.inv_descripcion")
                    label(for="inv_descripcion") Descripción
          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class=" waves-effect waves-green btn-flat", ng-click="opcionInventario()", id="btnOpcionInventario") {{opcAccion}}

        // MODAL RESGUARDO
        div(id="modalResguardoInventario" class="modal", style="z-index:9999;")
          div(class="modal-content", style="z-index:9999;")
            i(class="right material-icons", onclick='$("#modalResguardoInventario").closeModal();', style="cursor:pointer;") close
            h4 Resguardo de inventario
            table(ng-show="!resguardo.id_resguardo")
              tr
                td
                  div(class="input-field col s5", ng-show="inventarios.length > 0", style="margin:0;padding:0")
                    i(class="material-icons prefix") search
                    input(type="text", ng-model="textSearchUser", ng-change="getUsuariosByText(textSearchUser)")
                    label(for="icon_prefix") Buscar usuario...
                td
                  p Selecciona el usuario que resguardará el inventario
                    select(class="browser-default", ng-model="usuarioResguardo")
                      option(ng-repeat="usuario in findUsuarios", value="{{usuario.id_usuario}}") {{usuario.usu_nombre}} {{usuario.usu_primer_apellido}} {{usuario.usu_segundo_apellido}}
            div(ng-show="resguardo.id_resguardo")
              table(class="bordered")
                tr
                  td Resguardó
                  td {{dataResguardo.usu_nombre}} {{dataResguardo.usu_primer_apellido}} {{dataResguardo.usu_segundo_apellido}}
                tr
                  td Inicio resguardo
                  td {{dataResguardo.rin_fecha_inicio.split("T")[0]}}
                tr
                  td No. Inventario reguardado
                  td  {{dataResguardo.num_inventario}}
            button(class="btn waves-effect white-text right", ng-show="usuarioResguardo || resguardo.id_resguardo", ng-click="resguardar()") {{(resguardo.id_resguardo)?"FINALIZAR":"INICIAR"}} RESGUARDO

  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/services/util.js")
  script(src="/javascripts/angular/controllers/InventariosController.js")
