doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/materialize/js/jquery-2.1.4.min.js")
    script(src="/materialize/js/materialize.min.js")
    link(rel='stylesheet', href='/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    block content
