extends layout

block content
  div(ng-app="SIACCApp", class="container row")
    div(ng-controller="LoginController", class="col s4 offset-s4 contentLogin")
      h5(class="center-align") #{title} - SIACC
      p(class="divider")
      form(ng-submit="login()")
        div(class="input-field col s12")
          i(class="material-icons prefix") account_circle
          input(type="text", ng-model="textUser")
          label(for="icon_prefix") Usuario
        div(class="input-field col s12")
          i(class="material-icons prefix") vpn_key
          input(type="password", ng-model="textPassword")
          label(for="icon_prefix") Contraseña
        button(class="btn right") Entrar

  script(src="/javascripts/angular/controllers/LoginController.js")
  script(src="/javascripts/angular/services/util.js")
