extends layout

block content
  div(ng-app="SIACCApp")
    div(ng-controller="LoginController")
      h1= title
      form(ng-submit="login()")
        div(class="input-field col s6")
          i(class="material-icons prefix") account_circle
          input(type="text", ng-model="textUser")
          label(for="icon_prefix") Usuario
        div(class="input-field col s6")
          i(class="material-icons prefix") vpn_key
          input(type="password", ng-model="textPassword")
          label(for="icon_prefix") Contraseña
        button(class="btn") Entrar

  script(src="/javascripts/angular/controllers/LoginController.js")
  script(src="/javascripts/angular/services/util.js")
