extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp")
    app-for-users
      div(id="contentApp", hidden, style="min-height:600px;", ng-controller="MesaAyudaAdministradorController")
        h3 Administrador

        div(class="container contenedorCatalogosTareas", ng-init="getServiciosSinSolucionar()")
          section(class="list")
            article(class="contentTargetas", content-targetas, area="0")
              p Solicitudes sin asignar
              br
              article(class="targeta",ng-repeat="servicio in serviciosSinSolucionar", servicio="{{servicio}}", targeta-mesa-ayuda, ng-show="servicio.aam_id_area==area.id_area", draggable="true")
                img(src="{{servicio.usu_foto}}", width="50px")
                p(class="header") Área: {{servicio.are_nombre}} Solicitante: {{servicio.usu_nombre}} {{servicio.usu_primer_apellido}} {{servicio.usu_segundo_apellido}}
                p Problema: {{servicio.mes_descripcion_problema}}
                p(class="fecha") {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
          section(ng-repeat="area in areas",class="list")
            article(class="contentTargetas", content-targetas, area="{{area.id_area}}")
              p {{area.are_nombre}}
              br
              article(class="targeta",ng-repeat="servicio in serviciosSinSolucionar", servicio="{{servicio}}", targeta-mesa-ayuda, ng-show="servicio.aam_id_area==area.id_area", draggable="true")
                img(src="{{servicio.usu_foto}}", width="50px")
                p(class="header") Área: {{servicio.are_nombre}} Solicitante: {{servicio.usu_nombre}} {{servicio.usu_primer_apellido}} {{servicio.usu_segundo_apellido}}
                p Problema: {{servicio.mes_descripcion_problema}}
                p(class="fecha") {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
                p(class="opciones")
                  i(class="material-icons right") done_all
                  i(class="material-icons right") supervisor_account
                  i(class="material-icons right") info


  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/javascripts/angular/controllers/MesaAyudaAdministradorController.js")
  script(src="/javascripts/angular/directives/targetaMesaAyuda.js")
  script(src="/javascripts/angular/directives/contentTargetas.js")
  link(rel='stylesheet', href='/stylesheets/mesa_ayuda.css')
