extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp")
    app-for-users
      div(id="contentApp", hidden, style="min-height:600px;", ng-controller="MesaAyudaAdministradorController")
        h3 Administrador

        div(class="container contenedorCatalogosTareas", ng-init="getServiciosSinSolucionar()")
          section(class="list")
            article(class="contentTargetas", content-targetas, area="0")
              p Solicitudes sin asignar
              br
              article(class="targeta",ng-repeat="servicio in serviciosSinSolucionar", servicio="{{servicio}}", targeta-mesa-ayuda, ng-show="servicio.aam_id_area==area.id_area", draggable="true")
                img(src="{{servicio.usu_foto}}", width="50px")
                p(class="header") Área: {{servicio.are_nombre}} Solicitante: {{servicio.usu_nombre}} {{servicio.usu_primer_apellido}} {{servicio.usu_segundo_apellido}}
                p {{servicio.mes_descripcion_problema}}
                p(class="fecha") {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
                p(class="importancia {{servicio.mes_importancia==1?'red':''}} {{servicio.mes_importancia==2?'yellow':''}} {{servicio.mes_importancia==3?'green':''}}")
                p(class="opciones")
                  i(class="material-icons right", ng-click="showInfoService(servicio)") info
          section(ng-repeat="area in areas",class="list")
            article(class="contentTargetas", content-targetas, area="{{area.id_area}}")
              p {{area.are_nombre}}
              br
              article(class="targeta",ng-repeat="servicio in serviciosSinSolucionar", servicio="{{servicio}}", targeta-mesa-ayuda, ng-show="servicio.aam_id_area==area.id_area", draggable="true")
                img(src="{{servicio.usu_foto}}", width="50px")
                p(class="header") Área: {{servicio.are_nombre}} Solicitante: {{servicio.usu_nombre}} {{servicio.usu_primer_apellido}} {{servicio.usu_segundo_apellido}}
                p {{servicio.mes_descripcion_problema}}
                p(class="fecha") {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
                p(class="importancia {{servicio.mes_importancia==1?'red':''}} {{servicio.mes_importancia==2?'yellow':''}} {{servicio.mes_importancia==3?'green':''}}")
                p(class="opciones")
                  i(class="material-icons right", ng-click="doneService(servicio.id_mesa_ayuda,servicio.id_area_atiende_mesa)") done_all
                  i(class="material-icons right", ng-click="showUsuarioService(area.id_area, servicio.id_mesa_ayuda, servicio.id_area_atiende_mesa)") supervisor_account
                  i(class="material-icons right", ng-click="showInfoService(servicio)") info

        div(id="modalInfoServicio" class="modal")
          div(class="modal-content")
            h4 Información del servicio
            table(class="bordered")
              tr
                th Datos servicio
                th Descripción
              tr
                td Solicitante
                td
                  img(src="{{servicio.usu_foto}}", width="50px")
                  p(style="display:inline-block")  {{servicio.usu_nombre}} {{servicio.usu_primer_apellido}} {{servicio.usu_segundo_apellido}}
              tr
                td Área
                td {{servicio.are_nombre}}
              tr
                td Fecha solicitud
                td {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
              tr
                td Tipo de problema
                td {{servicio.tse_nombre}}
              tr(ng-show="servicio.tse_otro==1")
                td Descripción usuario
                td {{servicio.mes_otro_tipo_servicio}}
              tr
                td  Descripción problema
                td  {{servicio.mes_descripcion_problema}}
              tr
                td Importancia
                td
                  select(class="browser-default", ng-model="servicio.mes_importancia")
                    option(value="1") Muy urgente
                    option(value="2") Urgente
                    option(value="3") Normal
              tr
                td Fecha limite
                td
                  input(type="date", class="datepicker", id="mes_fecha_limite")
            div(class="modal-footer")
              a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cerrar
              button(class=" waves-effect waves-green btn-flat", ng-click="guardarCambiosInfo()", id="btnInfoServicio") Guardar cambios

        div(id="modalUsuariosServicio" class="modal")
          div(class="modal-content")
            h4 Asignar usuarios
            input(type="text",ng-model="textSearchUserMesaAyuda", ng-change="getUsuarioPuedenAtenderMesa(textSearchUserMesaAyuda)")
            table(class="bordered")
              tr
                th Nombre
                th Opción
              tr(ng-show="usuarioAtiendenMesa.length == 0")
                td(colspan="2") No hay usuarios para mostrar
              tr(ng-repeat="usuario in usuarioAtiendenMesa")
                td {{usuario.usu_nombre}} {{usuario.usu_primer_apellido}} {{usuario.usu_segundo_apellido}}
                td(ng-show="usuario.aam_id_mesa_ayuda", ng-click="eliminarUsuarioMesa(usuario.id_usuario)")
                  i(class="material-icons",style="cursor:pointer") close
                td(ng-show="!usuario.aam_id_mesa_ayuda", ng-click="agregarUsuarioMesa(usuario.id_usuario)")
                  i(class="material-icons",style="cursor:pointer") add


        div(id="modalDoneService" class="modal")
          div(class="modal-content")
            h4 Servicio concluído
            table
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="desc_diagnostico", type="text", class="validate materialize-textarea", ng-model="formServicioSolucionado.aam_diagnostico", maxlength="150")
                    label(for="desc_diagnostico") Diagnostico
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="desc_acciones_tomadas", type="text", class="validate materialize-textarea", ng-model="formServicioSolucionado.aam_acciones_tomadas", maxlength="150")
                    label(for="desc_acciones_tomadas") Acciones tomadas
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="desc_observaciones", type="text", class="validate materialize-textarea", ng-model="formServicioSolucionado.aam_observaciones", maxlength="150")
                    label(for="desc_observaciones") Observaciones
              tr
                td
                  input(type="checkbox", id="servicioConcluido", ng-model="formServicioSolucionado.aam_soluciono")
                  label(for="servicioConcluido") Solucionado
          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class="waves-effect waves-green btn-flat", ng-click="conluirServicio()", id="btnConcliurServicio") Concluír


  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/javascripts/angular/controllers/MesaAyudaAdministradorController.js")
  script(src="/javascripts/angular/directives/targetaMesaAyuda.js")
  script(src="/javascripts/angular/directives/contentTargetas.js")
  link(rel='stylesheet', href='/stylesheets/mesa_ayuda.css')
