extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp", ng-controller="MesaAyudaSolicitanteController", ng-init="initDataUsuario()")
    app-for-users
      div(id="contentApp", hidden, ng-init="getServiciosSolicitadosEnProceso();getServiciosSolicitadosSolucionados();getInventarioArea();")
        a(class="waves-effect waves-light btn right" ng-click="setDatosSolicitarServicio()") Solicitar servicio
        h3 Solicitudes
        div(class="row")
          div(class="col s12")
            ul(class="tabs")
              li(class="tab col s3")
                a(href="#pendientes", class="active") Pendientes
              li(class="tab col s3")
                a(href="#finalizadas", ng-click="initTabs()") Finalizadas
          div(id="pendientes" class="col s12")
            table(class="bordered")
              tr
                th Identificador
                th Fecha de solicitud
                th Problema
                th Estado
                th Area atendiendo
                th Info
              tr(ng-show="serviciosSolicitadosEnProceso.length == 0")
                td(colspan="6") No tienes solicitudes pendientes
              tr(ng-repeat="servicio in serviciosSolicitadosEnProceso")
                td {{servicio.id_mesa_ayuda}}
                td {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
                td {{servicio.mes_descripcion_problema}}
                td {{!servicio.id_area_atiende_mesa?"Sin asignar":"En proceso"}}
                td {{servicio.are_nombre}}
                td
                  p(class="opciones")
                    i(class="material-icons", ng-click="showInfoService(servicio)") info
            // p en proceso: {{serviciosSolicitadosEnProceso}}
            // p solucionados: {{serviciosSolicitadosSolucionados}}

          div(id="finalizadas" class="col s12")
            table(class="bordered")
              tr
                th Identificador
                th Fecha de solicitud
                th Problema
                th Estado
                th Area que atendió
                th Info
              tr(ng-show="serviciosSolicitadosSolucionados.length == 0")
                td(colspan="6") No tienes solicitudes finalizadas
              tr(ng-repeat="servicio in serviciosSolicitadosSolucionados")
                td {{servicio.id_mesa_ayuda}}
                td {{getFormatDateTimeStamp(servicio.mes_fecha_solicitado)}}
                td {{servicio.mes_descripcion_problema}}
                td {{getFormatDateTimeStamp(servicio.amm_fecha_fin)}}
                td {{servicio.are_nombre}}
                td
                  p(class="opciones")
                    i(class="material-icons", ng-click="showInfoService(servicio)") info
            // p en proceso: {{serviciosSolicitadosEnProceso}}
            // p solucionados: {{serviciosSolicitadosSolucionados}}

      div(id="modalOpcionesSolicitarServicio" class="modal")
        div(class="modal-content")
          h4 Solicitar servicio
          p Datos del solicitante
          table(class="bordered")
            tr
              th No. Personal/Matricula
              th Nombre(s)
              th Apellidos(s)
            tr
              td {{dataUsuario.id_usuario}}
              td {{dataUsuario.usu_nombre}}
              td {{dataUsuario.usu_primer_apellido}} {{dataUsuario.usu_segundo_apellido}}
          p(ng-show="dataUsuario.id_usuario!=0 || dataUsuario.id_usuario") Datos del área solicitante
          table(class="bordered", ng-show="dataUsuario.id_usuario!=0 || dataUsuario.id_usuario")
            tr
              th Nombre
            tr
              td {{dataUsuario.are_nombre}}
          p Datos del servicio
          select(class="browser-default", ng-model="formMesaAyuda.mes_id_tipo_servicio", ng-change="setTipoServicio(formMesaAyuda.mes_id_tipo_servicio)", ng-init="getTiposServicios()")
            option(value="" disabled selected) Selecciona el tipo de servicio
            option(ng-repeat="servicio in servicios", value="{{servicio.id_tipo_servicio}}") {{servicio.tse_nombre}}
          table
            tr(ng-show="inventarios.length>0")
              td
                input(type="checkbox", id="checkAddInventario", ng-model="checkAddInventario")
                label(for="checkAddInventario") Adjuntar inventario a la solicitud
            tr(ng-show="checkAddInventario")
              td
                select(class="browser-default", ng-model="formMesaAyuda.mes_id_inventario")
                  option(value="") Seleciona el número de inventario
                  option(value="{{inventario.num_inventario}}", ng-repeat="inventario in inventarios") {{inventario.num_inventario}}
            tr(ng-show="tipoServicio.tse_otro != 0 && tipoServicio.tse_otro")
              td
                div(class="input-field col s6")
                  input(id="tipo_problema", type="text", class="validate", ng-model="formMesaAyuda.mes_otro_tipo_servicio", maxlength="45")
                  label(for="tipo_problema") Especifique el tipo de problema
            tr(ng-show="tipoServicio.tse_nombre")
              td
                div(class="input-field col s6")
                  textarea(id="desc_problema", type="text", class="validate materialize-textarea", ng-model="formMesaAyuda.mes_descripcion_problema", maxlength="160")
                  label(for="desc_problema") Describa el problema
          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(ng-show="tipoServicio.tse_nombre",class=" waves-effect waves-green btn-flat", ng-click="solicitarServicio()", id="btnOpcionTipoAreas") Solicitar servicio

      div(id="modalInfoServicio" class="modal")
        div(class="modal-content")
          h4 Información del servicio
          table(class="bordered")
            tr
              th Datos servicio
              th Descripción
            tr
              th Identificador
              td {{servicioInfo.id_mesa_ayuda}}
            tr
              th Estado
              td(ng-show="!servicioInfo.aam_finalizo") {{!servicio.id_area_atiende_mesa?"Sin asignar":"En proceso"}}
              td(ng-show="servicioInfo.aam_finalizo") {{servicioInfo.aam_soluciono==1?"Solucionado":"No solucionado"}}
            tr
              th Fecha solicitud
              td {{getFormatDateTimeStamp(servicioInfo.mes_fecha_solicitado)}}
            tr
              th Tipo de problema
              td {{servicioInfo.tse_nombre}}
            tr(ng-show="servicioInfo.tse_otro==1")
              td Descripción usuario
              td {{servicioInfo.mes_otro_tipo_servicio}}
            tr
              th  Descripción problema
              td  {{servicioInfo.mes_descripcion_problema}}
            tr(ng-show="servicio.id_area_atiende_mesa")
              tr
                th Área de atención
                td {{servicioInfo.are_nombre}}
            tr(ng-show="servicioInfo.aam_finalizo == 1")
              th Fecha de termino
              td {{getFormatDateTimeStamp(servicioInfo.amm_fecha_fin)}}
            tr(ng-show="servicioInfo.aam_diagnostico")
              th Diagnostico
              td {{servicioInfo.aam_diagnostico}}
            tr(ng-show="servicioInfo.aam_acciones_tomadas")
              th Acciones tomadas
              td {{servicioInfo.aam_acciones_tomadas}}
            tr(ng-show="servicioInfo.aam_observaciones")
              th Observaciones
              td {{servicioInfo.aam_observaciones}}


  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/javascripts/angular/controllers/MesaAyudaSolicitanteController.js")
  link(rel='stylesheet', href='/stylesheets/mesa_ayuda.css')
