extends layout

block content
  div(class="progress", id="loadPage")
      div(class="indeterminate")
  div(ng-app="SIACCApp")
    app-for-users(ng-show="permisos.system_config.ver == 1")
      div(id="contentApp", hidden, ng-controller="TiposServiciosController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearTipoServicio()",ng-show="permisos.system_config.crear == 1") Crear nuevo
        h3 Tipos de servicio - mesa de ayuda
        // MODAL OPCIONES TIPOS SERVICIOS
        div(id="modalOpcionesTipoServicio" class="modal")
          div(class="modal-content")
            h4 {{opcAccion}} tipo servicio
            table
              tr
                td
                  div(class="input-field col s6")
                    input(id="carrera_nombre", type="text", class="validate", ng-model="formTipoServicio.tse_nombre")
                    label(for="carrera_nombre") Nombre del tipo de servicio
              tr
                td
                  input(id="tse_otro", type="checkbox", ng-model="formTipoServicio.tse_otro")
                  label(for="tse_otro") Otro servicio
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="descripcionTipoServicio", class="materialize-textarea", ng-model="formTipoServicio.tse_descripcion")
                    label(for="descripcionTipoServicio") Descripción del servicio

          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class=" waves-effect waves-green btn-flat", ng-click="opcionTipoServicio()", id="btnOpcionCarrera") {{opcAccion}}

        table(class="bordered", ng-init="getTiposServicios()", ng-show="permisos.system_config.ver == 1")
          tr
            th  Nombre
            th  Descripción
            th
          tr(ng-repeat="tipo in tiposServicios")
            td {{tipo.tse_nombre}}
            td {{tipo.tse_descripcion}}
            td
              a(href="#!", class="btn white-text waves-effect red right", ng-click="deleteTipoServicio(tipo.id_tipo_servicio)", ng-show="permisos.system_config.eliminar == 1") Eliminar
              a(href="#!", class="btn white-text waves-effect blue right", ng-click="setDatosEditarTipoServicio(tipo)", ng-show="permisos.system_config.editar == 1") Editar

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/directives/appForUsers.js")
  script(src="/javascripts/angular/services/util.js")
  script(src="/javascripts/angular/controllers/TiposServiciosController.js")
