extends layout

block content
  div(class="progress", id="loadPage", style="margin:0;")
      div(class="indeterminate")
  div(ng-app="UsuariosModule")
    app-for-users
      div(id="contentApp", hidden, ng-controller="TiposUsuarioController")
        a(class="waves-effect waves-light btn right" ng-click="setDatosCrearTipoUsuario()") Crear nuevo
        h3 Tipos de usuario
        table(class="bordered")
          tr
            th  Nombre
            th  Descripción
            th
          tr(ng-repeat="tipo in tiposUsuario")
            td {{tipo.tipo_nombre}}
            td {{tipo.tipo_descripcion}}
            td
              a(href="#!", class="btn white-text waves-effect red right", ng-click="deleteTipoUsuario(tipo.id_tipo_usuario)") Eliminar
              a(href="#!", class="btn white-text waves-effect blue right", ng-click="setDatosEditarTipoUsuario(tipo)") Editar

        // MODAL OPCION TIPO USUARIO
        div(id="modalOpcionesTipoUsuario" class="modal")
          div(class="modal-content")
            h4 Crear tipo de usuario
            table
              tr
                td
                  div(class="input-field col s6")
                    input(id="area_name", type="text", class="validate", ng-model="formTipoUsuario.tipo_nombre")
                    label(for="area_name") Nombre del tipo de usuario
              tr
                td
                  div(class="input-field col s6")
                    textarea(id="area_name", class="materialize-textarea", class="validate", ng-model="formTipoUsuario.tipo_descripcion")
                    label(for="area_name") Descripción del tipo de usuario

            p(class="divider")

            p Modulos permitidos

            table(class="bordered")
              tr
                th Permiso
                th Descripción
              tr(ng-repeat="modulo in todosLosModulos")
                td
                  input(type="checkbox", id="check{{modulo.id_modulo}}", class="checksOpcUsuario", modulo="{{modulo.id_modulo}}")
                  label(for="check{{modulo.id_modulo}}") {{modulo.mod_nombre}}
                td {{modulo.mod_descripcion}}


          div(class="modal-footer")
            a(href="#!" class="modal-action modal-close waves-effect btn-flat") Cancelar
            button(class=" waves-effect waves-green btn-flat", ng-click="opcionTipoUsuario()", id="btnOpcionTipoUsuario") Crear


  script(src="/javascripts/angular/angular.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/angular/angular_modules/AppModule.js")
  script(src="/javascripts/angular/angular_modules/UsuariosModule.js")
