body {
  //padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon-editar {
  color: green !important;
}

.icon-eliminar {
  color: red !important;
}

.input-field {
  margin:0 !important;
}
